# ============================================================
# Utilisateur SSDv2
# valeurs issues de all.yml -> user.*
# ============================================================

SSD_USER=your_user
SSD_UID=1000
SSD_GID=1000
SSD_DOMAIN=example.com


# ============================================================
# Chemins SSDv2
# valeurs issues de all.yml -> settings.*
# ============================================================

SETTINGS_SOURCE=/home/your_user/seedbox-compose
SETTINGS_STORAGE=/home/your_user/seedbox
DATABASE_URL=sqlite:////app/data/seasonarr.db


# ============================================================
# Ansible
# ============================================================

ANSIBLE_ACTION_WARNINGS=False
ACTION_WARNINGS=False
ANSIBLE_COMMAND_WARNINGS=False


# ============================================================
# Backend
# ============================================================

DEBUG=False
COOKIE_SECURE=True
COOKIE_DOMAIN=ssdv2.example.com
JWT_SECRET_KEY=change_me_generate_a_long_random_secret
JWT_ALGORITHM=HS256


# ============================================================
# ARR
# ============================================================

RADARR_HOST=radarr
SONARR_HOST=sonarr
SONARR_URL=http://sonarr:8989


# ============================================================
# Runtime
# ============================================================

TZ=Europe/Paris